.entrance-container {
  display: flex;
  flex-direction: row;
  background-color: black;
}

.social-logos {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 10vw;
  height: 40vh;
  border-radius: 12px;
  background-color: rgba(255, 255, 255, 0.43);
  border: 2px solid black;
  align-items: center;
   -webkit-box-shadow: 10px 14px 33px 1px rgba(255, 255, 255, 0.75);
  -moz-box-shadow: 10px 14px 33px 1px rgba(255, 255, 255, 0.75);
  box-shadow: 10px 14px 33px 1px rgba(255, 255, 255, 0.75);
}
.aside {
  display: flex;
  flex-direction: column;
  width: 20vw;
  height: 100vh;
  align-items: center;
  justify-content: space-around;
}

.logo-side {
  height: 7vh;
}

.skillz {
  font-size: 6vh;
  margin: 2vh;
}
.icon-skillz-container {
  display: flex;
  flex-wrap: wrap;
  height: 22vh;
  width: 15vw;
  align-items: center;
  justify-content: center;
  margin: 2vh;
  border-radius: 16px;
  border: 2px solid black;
 background-color: rgba(255, 255, 255, 0.43);
  -webkit-box-shadow: 10px 14px 33px 1px rgba(255, 255, 255, 0.75);
  -moz-box-shadow: 10px 14px 33px 1px rgba(255, 255, 255, 0.75);
  box-shadow: 10px 14px 33px 1px rgba(255, 255, 255, 0.75);
}

.main-section{
  width: 80vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.info-section{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 70vh;
  width:  40vw;
}
.main-title, .sub-main-title{
  color: snow;
  font-size: x-large;
  font-family:cursive;
}

.reid-photo {
  height: 60vh;
  margin-right: 5vw;
}

.animationLP-container {
  display: flex;
  justify-content: center; /* To center the animation horizontally */
  align-items: flex-start; /* To align the animation to the top */
  flex-grow: 1; /* To let it occupy any available space */
  padding-right: 7rem; /* A bit of spacing between the animation and the picture, adjust as needed */
  background: url('../assets/aspenGrove.jpg') no-repeat center center;
  background-size:cover;
  width: 70%;  /* Adjust as needed */
  height: 125%;
  border-radius: 20%;
  background-position: right;
  }



.submit-button {
 font-size: 16px;
 position: relative;
 margin: auto;
 padding: 1em 2.5em 1em 2.5em;
 border: none;
 background: #fff;
 transition: all 0.1s linear;
 box-shadow: 0 0.4em 1em rgba(0, 0, 0, 0.1);
 margin-top: 30px;
}

.submit-button:active {
 transform: scale(0.95);
}

.submit-button span {
 color: #464646;
}

.submit-button .border {
 position: absolute;
 border: 0.15em solid #fff;
 transition: all 0.3s 0.08s linear;
 top: 50%;
 left: 50%;
 width: 9em;
 height: 3em;
 transform: translate(-50%, -50%);
}

.submit-button:hover .border {
 display: block;
 width: 9.9em;
 height: 3.7em;
 
}

.full-rounded {
 border-radius: 2em;
}

/* iPads (landscape) */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px)
  and (orientation: landscape) {
    .logo-side {
    height: 5vh;
  }
    .animationLP-container {
        width: 60vw;  /* Adjust this value based on the space you want the animation to take */
        height: auto; /* This will ensure that the container wraps the content */
        margin: 0 auto; /* This will center the animation if there's any additional space */
      }

  .skillz {
    font-size: 4vh;
  }

  .entrance-container {
    flex-direction: column;
  }

  .aside {
    width: 100vw;
    height: 20vh;
    flex-direction: row;
    justify-content: space-between;
  }

  .social-logos, .icon-skillz-container {
    margin: 2vh;
    width: 20vw;
    height: 18vh;
  }

  .main-section {
    flex-direction: column;
    width: 100vw;
    height: 80vh;
  }

  .info-section {
    width: 100vw;
    height: 35vh;
  }

  .reid-photo {
    height: 45vh;
  }
}

/* iPads (portrait) */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px)
  and (orientation: portrait) {
.logo-side {
    height: 5vh;
  }

  .skillz {
    font-size: 4vh;
  }

  .animationLP-container {
      width: 80vw; /* Giving it more space on smaller screens */
      height: auto; /* Auto for content wrapping */
      margin: 0 auto; /* Centering the animation */
    }
    
  .entrance-container {
    flex-direction: column;
  }

  .aside {
    width: 100vw;
    height: 20vh;
    flex-direction: row;
    justify-content: space-between;
  }

  .social-logos, .icon-skillz-container {
    width: 20vw;
    height: 15vh;
    margin: 2vh;
  }

  .main-section {
    flex-direction: column;
    width: 100vw;
    height: 80vh;
  }

  .info-section {
    width: 100vw;
    height: 35vh;
  }

  .reid-photo {
    height: 45vh;
  }
}

/* iPhones and smaller devices (portrait) */
@media only screen 
  and (max-device-width: 767px)
  and (orientation: portrait) {
  .entrance-container {
    flex-direction: column;
  }

  .aside {
    width: 100vw;
    height: 20vh;
    flex-direction: row;
    justify-content: space-between;
  }

  .logo-side {
    height: 4vh;
  }

  .skillz {
    font-size: 3vh;
  }

  .social-logos, .icon-skillz-container {
    width: 20vw;
    height: 15vh;
    margin: 2vh;
  }
.submit-button{
  margin-bottom: 2vh;
}
  .main-section {
    flex-direction: column;
    width: 100vw;
    height: 80vh;
  }

  .info-section {
    width: 100vw;
    height: 35vh;
    margin-bottom: 2vh;
  }

  .reid-photo {
    height: 45vh;
  }
}


/* iPhones and smaller devices (landscape) */
@media only screen 
  and (max-device-width: 767px)
  and (orientation: landscape) {
    .logo-side {
    height: 4vh;
  }

  .skillz {
    font-size: 3vh;
  }
  
  .entrance-container {
    flex-direction: column;
  }

  .aside {
    width: 100vw;
    height: 20vh;
    flex-direction: row;
    justify-content: space-between;
  }

  .social-logos, .icon-skillz-container {
    width: 20vw;
    height: 15vh;
    margin: 2vh;
  }

  .main-section {
    flex-direction: column;
    width: 100vw;
    height: 80vh;
  }

  .info-section {
    width: 100vw;
    height: 35vh;
    margin-bottom: 2vh;
  }

  .reid-photo {
    height: 45vh;
  }
}

