body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.homepage {
  /* display: flex;
  height: 100%;
  width: 100%;
  background-size: auto;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
  padding: 2rem; */

  display: flex;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(
    280deg,
    hsl(26deg 60% 18%) 0%,
    hsl(10deg 23% 35%) 38%,
    hsl(4deg 18% 46%) 49%,
    hsl(0deg 19% 55%) 54%,
    hsl(284deg 6% 50%) 58%,
    hsl(210deg 24% 49%) 67%,
    hsl(197deg 76% 38%) 100%
  );
  background-size: auto;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
  padding: 2rem;
}

.link {
  background-color: rgba(233, 76, 76, 0.596);
  color: black;
  font-size: 4vh;
  padding: 1vh;
  border-radius: 12px;
  border: 2px solid black;
  -webkit-box-shadow: 10px 14px 33px 1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 14px 33px 1px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 14px 33px 1px rgba(0, 0, 0, 0.75);
}

.read-about {
  display: flex;
  justify-content: space-evenly;
  /* max-height: 175vh; */
  width: 75vw;
  border: 2px solid black;
  flex-direction: column;
  letter-spacing: 3px;
  background-color: rgba(0, 0, 0, 0.241);
  overflow-y: scroll;
  margin-top: 10vh;
  border-radius: 20px;
  -webkit-box-shadow: 10px 14px 33px 1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 14px 33px 1px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 14px 33px 1px rgba(0, 0, 0, 0.75);
}

.read-about h3 {
  padding-top: 2vh;
  font-size: 6vh;
}

.introduction-container {
  display: flex;
  /* max-height: 110vh; */
  width: 75vw;
  border: 2px solid black;
  flex-direction: column;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.222);
  overflow-y: scroll;
  border-radius: 20px;
  -webkit-box-shadow: 10px 14px 33px 1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 14px 33px 1px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 14px 33px 1px rgba(0, 0, 0, 0.75);
}
.read-about::-webkit-scrollbar,
.introduction-container::-webkit-scrollbar,
.proj-description::-webkit-scrollbar {
  display: none;
}

.homepage-title {
  color: rgb(16, 9, 2);
  font-size: 5vh;
  margin-top: 7%;
}

.intro {
  color: snow;
  margin: 1.7vh;
  letter-spacing: normal;
  line-height: 2;
}

.intro-title {
  font-size: 4vh;
  color: rgb(210, 197, 197);
}

.about-me {
  margin-bottom: 4vh;
}

.about-me-text {
  padding: 0 4vw 0 4vw;
  margin: 1.5vh;
  color: snow;
  letter-spacing: normal;
  line-height: 2;
}
.introduction-container h2 {
  color: rgb(0, 0, 0);
}
.work-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding-bottom: 5rem;
}

.project-container {
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.241);
  border: 2px solid black;
  width: 85%;
  padding: 2rem;
  border-radius: 20px;
  -webkit-box-shadow: 10px 14px 33px 1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 14px 33px 1px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 14px 33px 1px rgba(0, 0, 0, 0.75);
  margin-bottom: 2rem;
}

.proj-description {
  display: flex;
  height: 25vh;
  width: 35vw;
  border: 2px solid black;
  background-color: rgba(255, 255, 255, 0.318);
  overflow-y: scroll;
  border-radius: 20px;
  align-items: center;
}

.images-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  padding: 1rem;
}

.computer-icon {
  max-width: 30%;
  max-height: 30%;
  object-fit: cover;
  border: 2px solid black;
}

.giphy-embed {
  height: 37vh;
  width: 35vw;
}
.ceaseless-cinema {
  height: 35vh;
  width: 37vw;
  overflow: hidden;
  background-image: url("../assets/ceaselessCinema1.gif");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.artist-archive {
  height: 35vh;
  width: 37vw;
  overflow: hidden;
  background-image: url("../assets/artistArchiveGif2.gif");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.blissful-blends {
  height: 35vh;
  width: 37vw;
  overflow: hidden;
  background-image: url("../assets/blissful.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.fiction-fountain {
  height: 35vh;
  width: 37vw;
  overflow: hidden;
  background-image: url("https://user-images.githubusercontent.com/111818942/233493060-17a69326-c2ca-4121-a0bf-34d2f0970b59.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.fit-lit {
  height: 35vh;
  width: 37vw;
  overflow: hidden;
  background-image: url("../assets/gitLitGif1.gif");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.nyt-top-stories {
  height: 35vh;
  width: 37vw;
  overflow: hidden;
  background-image: url("https://user-images.githubusercontent.com/111818942/233413256-42c6456f-d1f3-4598-adc1-a14d7ebf30c4.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.grant-guru {
  height: 35vh;
  width: 37vw;
  overflow: hidden;
  background-image: url("../assets/grant_guru.gif");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.proj-title {
  font-size: 2.5vh;
}

.project-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.proj-buttons {
  margin: 1rem;
  padding: 0.5rem 1rem;
  outline: 0;
  appearance: none;
  padding: 0px 12px;
  border-radius: 4px;
  text-decoration: none;
  cursor: pointer;
  background-color: rgb(178, 178, 178);
  border: 1px solid rgb(137, 151, 155);
  box-shadow: rgb(6 22 33 / 30%) 0px 1px 2px;
  color: rgb(0, 0, 0);
  font-size: 14px;
  font-weight: 400;
  height: 36px;
  transition: all 150ms ease-in-out 0s;
  -webkit-box-shadow: 10px 14px 33px 1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 14px 33px 1px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 14px 33px 1px rgba(0, 0, 0, 0.75);
}

.proj-buttons:hover {
  color: rgb(61, 79, 88);
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(93, 108, 116);
  box-shadow: rgb(0 0 0 / 30%) 0px 4px 4px, rgb(231 238 236) 0px 0px 0px 3px;
}

.description-text {
  letter-spacing: 1px;
  margin: 1vh;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100%;
}

.skills-container {
  margin-bottom: 6vh;
  display: flex;
  max-height: 120vh;
  width: 75vw;
  border: 2px solid black;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  background-color: rgba(0, 0, 0, 0.222);
  border-radius: 20px;
  overflow-y: auto;
  overflow-x: auto;
  -webkit-box-shadow: 10px 14px 33px 1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 14px 33px 1px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 14px 33px 1px rgba(0, 0, 0, 0.75);
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
}
.skills-container::-webkit-scrollbar,
.music-container::-webkit-scrollbar {
  display: none;
}
.skill-icon {
  font-size: 25vh;
  height: 30vh;
  margin: 5vh;
}

.scroll-wrapper {
  overflow: hidden;
  max-height: 175vh;
}

.music-container {
  margin-bottom: 6vh;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  width: 75vw;
  border: 2px solid black;
  align-items: center;
  justify-content: space-evenly;
  background-color: rgba(0, 0, 0, 0.222);
  overflow-y: auto;
  overflow-x: hidden;
  border-radius: 20px;
  max-height: 175vh;
  -webkit-box-shadow: 10px 14px 33px 1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 14px 33px 1px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 14px 33px 1px rgba(0, 0, 0, 0.75);
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none;
}
.music-video-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}
.music-videos {
  margin: 1.5vh;
}

.music-container h3 {
  font-size: xx-large;
}
.music-website-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 75vw;
}
/* Website widgets! */
.website-widget {
  all: unset;
  width: 100px;
  height: 30px;
  font-size: 16px;
  font-weight: bold;
  background: transparent;
  border: none;
  position: relative;
  color: #f0f0f0;
  cursor: pointer;
  z-index: 1;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.website-widget::after,
.website-widget::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -99999;
  transition: all 0.4s;
}

.website-widget::before {
  transform: translate(0%, 0%);
  width: 100%;
  height: 100%;
  background: #28282d;
  border-radius: 10px;
}

.website-widget::after {
  transform: translate(10px, 10px);
  width: 35px;
  height: 35px;
  background: #ffffff15;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 50px;
}

.website-widget:hover::before {
  transform: translate(5%, 20%);
  width: 110%;
  height: 110%;
}

.website-widget:hover::after {
  border-radius: 10px;
  transform: translate(0, 0);
  width: 100%;
  height: 100%;
}

.website-widget:active::after {
  transition: 0s;
  transform: translate(0, 5%);
}

.contact-container {
  margin-bottom: 6vh;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  width: 75vw;
  border: 2px solid black;
  align-items: center;
  justify-content: space-evenly;
  background-color: rgba(0, 0, 0, 0.222);
  overflow-y: auto;
  overflow-x: hidden;
  border-radius: 20px;
  max-height: 175vh;
  -webkit-box-shadow: 10px 14px 33px 1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 14px 33px 1px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 14px 33px 1px rgba(0, 0, 0, 0.75);
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none;
}
.proj-button-container {
  width: 35vw;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
/* --------------- */

@media (max-width: 767px) {
  .homepage-title {
    font-size: 4vh;
    margin-top: 25%;
  }

  .intro-title {
    font-size: 4vh;
    color: rgb(210, 197, 197);
  }

  .computer-icon {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    border: 2px solid black;
  }
  .proj-description {
    width: 50vw;
  }

  iframe {
    margin-right: 7vw;
    width: 50vw;
  }

  .proj-button-container {
    width: 35vw;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
}
@media (min-width: 768px) {
  .logo {
    height: 10vh;
  }

  .list-container {
    justify-content: space-between;
    padding: 0 2rem;
  }

  .homepage-title {
    font-size: 6vh;
    margin-top: 20%;
  }

  .intro-title {
    font-size: 5vh;
  }

  .about-me-text,
  .intro {
    font-size: 2.5vh;
  }

  .proj-title {
    font-size: 3vh;
  }

  .website-widget {
    width: 80px;
    height: 25px;
    font-size: 14px;
    padding: 8px 16px;
  }
}
@media (max-width: 480px) {
  /* Small devices (phones) */
  .website-widget {
    width: 60px;
    height: 20px;
    font-size: 12px;
    padding: 6px 12px;
  }
}
@media (min-width: 1024px) {
  .logo {
    height: 8vh;
  }

  .list-container {
    padding: 0 4rem;
  }

  .homepage-title {
    font-size: 7vh;
    margin-top: 15%;
  }

  .intro-title {
    font-size: 6vh;
  }

  .about-me-text,
  .intro {
    font-size: 2.75vh;
  }

  .proj-title {
    font-size: 3.5vh;
  }
}
