body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
.App {
  text-align: center;
  background-image: url("../assets/aspenGrove2.jpg");
  background-image: linear-gradient(
    280deg,
    hsl(26deg 60% 18%) 0%,
    hsl(10deg 23% 35%) 38%,
    hsl(4deg 18% 46%) 49%,
    hsl(0deg 19% 55%) 54%,
    hsl(284deg 6% 50%) 58%,
    hsl(210deg 24% 49%) 67%,
    hsl(197deg 76% 38%) 100%
  );
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  height: 100%;
  width: 100%;
}
